@charset "UTF-8";

body {

    height: fill;
    width: 100vw;
    margin: 0;
    z-index:-1;
    background-attachment: fixed;
    background-color: midnightblue;
}

#header{ 
    margin-top: 10%;
    padding-top: 10vh;
    padding-bottom: 10vh;
    grid-row: 1/ span 4;
    grid-column: 1/ span 4;
    padding: 20px; 
    width: 45vw;
    height: 80vh;
    resize: horizontal;
  overflow: auto;
    background-color: palevioletred ;
    border-radius: 60px/ 60px;
}


h1{
    font-family: paralucent, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 6em;
    color: white;
    line-height: 80%;
}

h2{
    font-family: paralucent, sans-serif;
font-weight: 500;
font-style: italic;
font-size: 6em;
color: white;
line-height: 80%;
}

main{
 display: grid;
 grid-template-columns: repeat (8, 15vw);
 grid-template-rows: auto;
margin-left: 10%;
margin-left: 10%;
}

h3{
    font-family: paralucent, sans-serif;
font-weight: 300;
font-style: normal;
color: white;
font-size: 3em;
}

li{
    font-family: fields-display, sans-serif;
font-weight: 400;
font-style: normal;
color: salmon;
font-size: 1em;
}

#exercises{
    padding-top: 5vh; 
    grid-column: 5/span 8 ;
    grid-row: 1/ span 1 ;
}

#projects {
    grid-column: 5/ span 8;
    grid-row: 2/2;
}

#lab{ 
    grid-column: 5/ span 8;
    grid-row: 3/3;
}

/* unvisited link */
a:link {
    color: salmon;
  }
  
  /* visited link */
  a:visited {
    color: white;
  }
  
  /* mouse over link */
  a:hover {
transform:scale(120%)  }
  
  /* selected link */
  a:active {
    background: white;
  }


