@charset "UTF-8";

body{
    background: radial-gradient(53.3% 34.25% at 50% 65.75%, rgba(255, 255, 255, 0.6) 0%, rgba(176, 217, 247, 0.39) 100%), radial-gradient(143.25% 33.2% at 43.4% 44.34%, rgba(243, 153, 102, 0.6) 0%, rgba(255, 197, 111, 0.252) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, linear-gradient(0deg, #80C9FF 0%, #82CAFF 25.48%, #69A1F7 100%);
    width: 100vw;
background-attachment: scroll;
}

section{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2vh;
    max-height: 5vh;
  }

  .grid-container{
    display:grid;
    padding-left: 8%;
    padding-right: 8%;
    grid-template-columns:repeat(8, 1fr);
    grid-template-rows: min-content;
}

.miss{
    grid-column: 1/ span 9;
    grid-row: 1/1;
}

.rectangle{
    height: 100%;
    width: 100%;
    opacity: 0%;
}

.end{
    grid-column: 1/span 9;
    grid-row:3/3;
    text-align: center;
    font-size: 4em;
    color: #000;
}

.thrill{
    grid-column: 1/span 9;
    grid-row:5/5;
    text-align: left;
}
.poem-ending{
    grid-column: 1/span 9;
    grid-row: 6/6;
    text-align: left;
}

#why{
    text-align: right; 
}

#wonderful{
    text-align: right;
}

