@charset "UTF-8";
body{
    background: radial-gradient(88.03% 44.71% at 41.32% 38.38%, rgba(254, 194, 76, 0.6) 0%, rgba(239, 160, 68, 0.174) 77.16%), linear-gradient(0deg, #B0D9F7 5.17%, #FFC9AA 36.77%, #93BEFF 100%);
    width: 100vw;
    background-attachment: scroll;
}

section{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2vh;
    max-height: 5vh;
  }

  .grid-container{
    display:grid;
    padding-left: 8%;
    padding-right: 8%;
    grid-template-columns:repeat(8, 1fr);
    grid-template-rows: min-content;
}

.barthes{
    grid-column: 1/span 9;
    grid-row: 1/1;
}

.bachelard {
    grid-column: 1/span 9;
    grid-rows: 2/2;
}

#quote{
    font-size: 1emm;
    line-height: 250%;
    text-align: right;
}

.afraid {
    grid-column: 1/ span 9;
    grid-rows: 3/3;
}