@charset "UTF-8";
html {
    background: radial-gradient(53.3% 34.25% at 50% 65.75%, rgba(255, 255, 255, 0.5) 0%, rgba(176, 217, 247, 0.325) 100%), 
    radial-gradient(35.09% 17.83% at 42.92% 21.55%, rgba(249, 249, 249, 0.6) 0%, rgba(239, 160, 68, 0.174) 77.16%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, 
    linear-gradient(0deg, #637CD6 11.92%, rgba(176, 217, 247, 0.62) 74.76%, #FFC56F 100%);
    height: 100%;
}
body { 
    /* Ellipse 7 */
width: 1056px;
height: 427px;
left: 446px;
top: 518px;

background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.75) 0%, rgba(204, 204, 204, 0) 100%);
}
.hide {
    display: none;
  }
      
.mmydivhover + .hide {
    display: block;
    color: red;
  }