@charset "UTF-8";
body {
    background: radial-gradient(48.37% 23.26% at 50% 73.18%, rgba(255, 222, 184, 0.5) 0%, rgba(37, 101, 198, 0.355) 100%), linear-gradient(0deg, #FF896F 0%, rgba(142, 208, 255, 0.62) 32.89%, rgba(51, 48, 153, 0.789567) 74.48%, #081E6F 100%);
    width: 100vw;
    background-attachment: scroll;
}

section{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2vh;
    max-height: 5vh;
  }

  .grid-container{
    display:grid;
    padding-left: 8%;
    padding-right: 8%;
    grid-template-columns:repeat(8, 1fr);
    grid-template-rows: min-content;
}

.book{
    grid-column: 1/ span 9;
    grid-row: 1/1;
    text-align: left;
}

#henstein{
    text-align: right;
    line-break: 300%;
}

.poems-begin {
    grid-column: 1/ span 9;
    grid-row: 2/2;
}

.rectangle{
    height: 1000px;
    width: 100%;
    opacity: 0%;
    grid-row: 3/3;
    grid-column: 1/span 9;
}

.flipped{
grid-row:4/4 ;
grid-column: 1/ span 9;
}

.first-lines{
    grid-row: 5/5;
    grid-column: 4/span 9;
    text-align: right;
}

.distinct{
    grid-row: 6/6;
    grid-column: 1/ span 9;
}