@charset "UTF-8";

body {
    /* Day 1 */

background: 
 radial-gradient(38.52% 15.75% at 50% 78.4%, rgba(249, 249, 249, 0.528) 0%, rgba(239, 160, 68, 0.174) 100%), 
 linear-gradient(0deg, rgba(255, 197, 111, 0.92) 0%, rgba(125, 181, 221, 0.8) 15.1%, rgba(19, 38, 107, 0.95) 50%, #040B23 98.96%);
width: 100vw;
background-attachment: scroll;
}

section{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2vh;
    max-height: 5vh;
}

main{
    display:grid;
    padding-left: 80px;
    padding-right: 80px;
    grid-template-columns:repeat(8, 1fr);
    grid-template-rows: min-content;
}

.p1 {
    text-align: left;
    grid-column: 1/ span 9;
}

.end{
    text-align: right;
}

.p2 {
    grid-column: 1/ span 9;
}

.poem{
    grid-column: 1/ span 9;  
}

.abandon {
    grid-column: 2/span 9;
}

.fire{
 grid-column: 4/span 9;
 grid-row: 4/4;
}

.wind{
    grid-column: 5/span 9;
    grid-row:5/5;
    text-align: right;
}

.wind2{
    grid-column: 1/ span 9;
    grid-row: 6/6;
}

.pv1{
    grid-column: 2/span 9;
    grid-row: 7/7;
}

.pv2{
    grid-column: 5/span 9;
    grid-row:7/7
}

.pv3{
    grid-column: 2/span 9;
    grid-row: 8/8;  
}

.pv4{
    grid-column:5/span 9;
    grid-row: 8/8;
}

.pv5{
    grid-column: 1/span 9;
    grid-row: 9/9;
  
}

.pv6{
    grid-column: 7/span 9;
    grid-row: 10/10;
}

.pv7{
    grid-column: 1/span 9;
    grid-row: 11/11;
    text-align: center;
}

.pv8{
    grid-column:1/span 9;
    grid-row:12/12;
}

.pv9{
    grid-column:7/span 9;
    grid-row: 12/12;
}

.paulvalery{
    grid-column: 1/ span 9;
    text-align: left;  
    grid-row:13/13;  
}

.fruit{
    grid-column: 1/ span 9;  
    grid-row: 14/14;
}

