@charset "UTF-8";
body{
    background: radial-gradient(77.05% 41.04% at 50% 36.07%, rgba(255, 255, 255, 0.32) 0%, rgba(176, 217, 247, 0.325) 100%), linear-gradient(0deg, #B0D9F7 0%, rgba(249, 240, 219, 0.95) 24.91%, #83AFF1 100%);
    width: 100vw;
    background-attachment: scroll;
}

section{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2vh;
    max-height: 5vh;
  }

.grid-container{
    display:grid;
    padding-left: 6%;
    padding-right: 6%;
    grid-template-columns:repeat(8, 1fr);
    grid-template-rows: min-content;
}

.interesting{
    grid-column: 1/span 9;
    grid-row: 1/1;
}


#bracket{
    text-align: right;
}

.language {
    grid-column: 1/span 9;
    grid-row: 3/3;
    text-align: left;
}

#english{
    text-align: right;
}

.semicolon{
    grid-column: 1/span 9;
    grid-row: 4/4;
    text-align: left;
}

#least-used{
    text-align: right;
}


.sentence{
    grid-column: 1/span 9;
    grid-row: 6/6;
    text-align: left;
}

.connect{
    grid-column: 1/span 9;
    grid-row: 7/7;
    text-align: left; 
}

.speak{
    grid-column: 1/span 9;
    grid-row: 8/8;
    text-align: left; 
    font-family: freight-display-pro, serif;
font-weight: 400;
font-style: italic;
}

